
 details summary::-webkit-details-marker {
        background: red;
        color: #fff;
       display:none;
    
    }
    summary::before {
        font-size:100%;
        border-radius: 5px;
     content:" ( + )";
        font-weight:bold;
        color:rgb(27, 79, 123);
        border:1px solid white;
      
        
    }
    details[open] summary::before {
        font-size: 100%;
       content:" ( - )";
        font-weight: bold;
        color: rgb(27, 79, 123);
        border: 1px solid white;
       
    }
details {
    margin-bottom:5px;
}
summary {
    background-color:#C4DDF2;
}