@model List<ViewModel.Common.List_Common>
@{
    var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 20, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridcontent");
    grid.Pager(WebGridPagerModes.All);
}
<div class="panel">

    <div class="panel-heading  bg-margenta">
        <div class="row">

            <div class="col-md-9">
                <i class="fa fa-list"></i>
                <span>Ledger Master</span>


            </div>

            <div class="col-md-3">
                @Ajax.ActionLink("New", "Create", "LedgerMaster", new { area = "Masters", Id = 0 }, new AjaxOptions
                            {

                                UpdateTargetId = "content",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                            }, new { @Class = "btn btn-default btn-xs btn-flat hgt", })


                <select class="hgt"><option>Tools</option><option>Import</option><option>Export</option></select>
                <input type="text" placeholder="Search Here" class="hgt" />
                <button class="btn btn-default btn-xs btn-flat hgt fa fa-search"></button>
                <button class="btn btn-default btn-xs btn-flat hgt fa fa-refresh"></button>
            </div>





        </div>

    </div>



    <div class="panel-body" id="gridcontent">
        @grid.GetHtml(tableStyle: "table  table-responsive table-striped table-bordered table-hover topmrgn5px",
        columns: grid.Columns(
        grid.Column("S.No",format:item=>item.WebGrid.Rows.IndexOf(item)+1),
        grid.Column("Name", "Ledger Name"),
        grid.Column("Alias_Name", "Alias Name"),
                   grid.Column("Under_Name", "Under Group"),
        grid.Column("Remarks", "Remarks"),
      
        grid.Column(header: "Action", format: (item) => new HtmlString(

                                         @Ajax.ActionLink(" ", "Create", "LedgerMaster", new { area = "Masters", Id = item.Id }, new AjaxOptions
                                     {

                                         UpdateTargetId = "content",
                                         HttpMethod = "GET",
                                         InsertionMode = InsertionMode.Replace,
                                     }, new { @Class = "btn btn-default fa fa-pencil", @title = "Edit" }).ToString() +
                                                                 @Ajax.ActionLink(" ", "Delete", "LedgerMaster", new { area = "Masters", item.Id }, new AjaxOptions
                                     {

                                         UpdateTargetId = "content",
                                         HttpMethod = "GET",
                                         InsertionMode = InsertionMode.Replace,
                                     }, new { @Class = "btn btn-default fa fa-trash-o", @title = "Delete" }).ToString()
            ))

        ))

   
    </div>
</div>
